@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #e1e1e1;
        float: none;
    }


    .left {
        float: left;
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 10%;
    }

</style>

<nav class="navbar navbar-inverse">
    <div>
        <a class="navbar-brand" href="#">Learning Center</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Register</a></li>
        <li><a href="#">Log in</a></li>
    </ul>
</nav>


<body>
    <div class="text-center">
        <h1 class="center-block">The Learning Center</h1>
        <h5>The place for technology classes</h5>
        <button type="button" class="btn btn-primary">Learn more >></button>
    </div>

    <div class="text-center">
        <div class="left">
            <a href="#">Class List</a>
            <p>See all our class offerings</p>
        </div>

        <div class="left">
            <a href="#">Your enrolled classes</a>
            <p>See all the classes you are enrolled in</p>
        </div>

        <div class="left">
            <a href="#">Enroll in a class</a>
            <p>Take a new class</p>
        </div>
    </div>

    <div class="left">
        <h6 class="glyphicon-copyright-mark">2016-The Learning Center</h6>
    </div>
</body>




