@model HelloWorld.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<h1>Thank you, @Model.Name</h1>

    @if (Model.WillAttend == true)
    {
        @:Thanks for coming!
}
    else
    {
        @:Sorry you can't make it.
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
